/* Green theme */
.ui-bar-f {
  border: 1px solid #56A00E;
  background: #74b042;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 1px #335413;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#74b042), to(#56a00e));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#74b042, #56a00e);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(#74b042, #56a00e);
  /* FF3.6 */
  background-image: -ms-linear-gradient(#74b042, #56a00e);
  /* IE10 */
  background-image: -o-linear-gradient(#74b042, #56a00e);
  /* Opera 11.10+ */
  background-image: linear-gradient(#74b042, #56a00e); }

#header {
  text-align: center;
  color: #456F9A; }
  #header #logo {
    width: 180px;
    height: 180px; }
