@mixin background-image($start, $end) {
	background-image: -webkit-gradient(linear, left top, left bottom, from($start), to($end)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient($start, $end); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient($start, $end); /* FF3.6 */
	background-image:     -ms-linear-gradient($start, $end); /* IE10 */
	background-image:      -o-linear-gradient($start, $end); /* Opera 11.10+ */
	background-image:         linear-gradient($start, $end);
}
